.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 95%;
}

.navbar-container.active {
  background-color: #21212b;
  color: white;
  height: 0px;
  display: flex;
  align-items: center;
}

.mobile-navbar-container,
.mobile-navbar-container.active {
  display: none;
}

.navbar-container ul {
  display: flex;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.navbar-container li {
  list-style-type: none;
  font-size: 25px;
  font-weight: bold;
  padding: 0 50px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar-container,
  .navbar-container.active {
    display: none;
  }

  .mobile-navbar-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  .mobile-navbar-container.active {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #21212b;
    color: white;
    padding: 20px 10px;
    height: auto;
  }
  .mobile-navbar-container div,
  .mobile-navbar-container.active div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  .mobile-navbar-container li {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0 50px;
    cursor: pointer;
  }
}
